#doctordetail{
    display: flex;
    justify-content: space-around;
    gap: 30%;
    
}#img{
    width: 40%;
}.container{
    padding-top: 4%;
}.content {
    width: 300px; /* Set the width of the content container */
  }
  
  .hidden-content {
    display: none;
  }
  
  #see-more-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }

