/* .main-body{
    width: 100%;
    display: flex;
    margin-bottom: 3%;
} */


/* *******************************shop the guide**************************** */



/* ******************************FOOTER*************************** */

.footer{
    /* border: 2px solid red; */
    width: 90%;
    display: flex;
    background-color: #50514f;
    color: white;
    padding: 5%;
    padding-top: 10%;
    z-index: -1;

}

.customer-service{
    display: flex;
}

#shop-now-image{
    width: 70%;
    margin-left: 20%;
    border-radius: 10px;
    cursor: pointer;
}
#sign-up-now-footer {
    /* border: 1px solid red; */
    height: 5vh;
    width: 90%;
    background-color: #65c297;
    border-radius: 10px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 5%;
    cursor: pointer;
}
#contact-footer{
    margin-left: 20%;
    padding-top: 5%;
}

#faq{
    margin-left: 25%;
    padding-top: 5%;
}@media only screen and (max-width: 768px) {
/* apply these styles when screen size is less than or equal to 768px */
.main-body {
flex-direction: column;
margin-bottom: 5%;
}

.wakeup-slider, .image-grid {
width: 100%;
padding-top: 5%;
margin-bottom: 5%;
}

.wakeup-slider img, .image-grid img {
margin-top: 0;
}

.featured-slider img, .best-sellers-slider img {
width: 100%;
margin-left: 0;
}

#featured-brands-heading, #best-seller-heading, #catogeries-heading {
font-size: 120%;
margin-top: 5%;
margin-bottom: 3%;
}

.catogeries-card1 img, .catogeries-card2 img {
width: 100%;
}

.shop-the-guide {
margin-bottom: 5%;
}

#shop-now-image {
width: 100%;
margin-left: 0;
}

.footer {
flex-direction: column;
padding: 3%;
padding-top: 5%;
}

#sign-up-now-footer, #contact-footer, #faq {
margin: 5% auto;
}
}
/* @media only screen and (max-width: 768px) {
    .featured-slider, .best-sellers-slider {
      z-index: 0;
    }
  } */
@media screen and (max-width: 768px) {
    .main-body {
    flex-direction: column;
    }
    
    .wakeup-slider,
    .image-grid {
    width: 100%;
    padding-top: 0;
    margin-bottom: 5%;
    }
    
    .wakeup-slider img,
    .image-grid img {
    margin-top: 0;
    }
    
    .item1 {
    grid-column-start: auto;
    grid-column-end: auto;
    }
    
    #featured-brands-heading,
    #best-seller-heading,
    #catogeries-heading {
    font-size: 120%;
    }
    
    .featured-slider img,
    .best-sellers-slider img {
    width: 100%;
    margin-left: 0;
    }
    
    .shop-the-guide {
    margin-left: 0;
    flex-wrap: wrap;
    }
    
    #shop-now-image {
    width: 100%;
    margin: 5% 0;
    }
    
    .footer {
    flex-direction: column-reverse;
    padding-top: 5%;
    }
    
    .customer-service {
    flex-direction: column;
    }
    
    #contact-footer,
    #faq {
    margin: 5% 0;
    text-align: center;
    }.best-sellers{
        font-size: 10px;
    }.drop-downs{
        visibility: hidden;
    }
    }
    
    :root{
        --white:#FFF;
        --black:#000;
        --dark:#1E1E1E;
        --gray:rgba(1,1,1,0.6);
        --lite:rgba(255,255,255,0.6);
        --primary:#002347;
        --secondary:#fdc632;
    }
    
    
    /***************************
                DEFAULT
    ****************************/
    body{
        margin:0;
        overflow-x:hidden !important;
        font-family: 'Poppins', sans-serif;
    }
    
    a{
        text-decoration:none !important;
        min-width: fit-content;
        width: fit-content;
        width: -webkit-fit-content;
        width: -moz-fit-content;
    }
    
    h1, h2, h3, h4, h5, h6{
        color:var(--primary);
        font-weight:600;
    }
    
    
    
    fieldset{
        border:0;
    }
    
    .title{
        color:var(--primary);
    }
    
    .flex, .fixed_flex{
        display:flex;
    }
    
    .flex-content{
        width:100%;
        position:relative;
    }
    
    .padding_1x{
        padding:1rem;
    }
    
    .padding_2x{
        padding:2rem;
    }
    
    .padding_3x{
        padding:3rem;
    }
    
    .padding_4x{
        padding:4rem;
    }
    
    .btn{
        padding:0.8rem 2rem;
        border-radius:5px;
        text-align:center;
        font-weight:500;
        text-transform:uppercase;
    }
    
    .btn_1{
        border:1px solid var(--primary);
        background-color:var(--primary);
        color:var(--secondary);
    }
    
    .btn_1:hover{
        background-color:transparent;
        color:var(--primary);
    }
    
    .btn_2{
        border:1px solid var(--secondary);
        background-color:var(--secondary);
        color:var(--primary);
        background-color: #b5d0f8;
    }
    
    .btn_2:hover{
        border:1px solid var(--primary);
        background-color:var(--primary);
        color:var(--secondary);
        cursor: pointer;
       
    }
    
    @media (max-width:920px){
        .flex{
            flex-wrap:wrap;
        }
        
        .padding_1x, .padding_2x, .padding_3x, .padding_4x{
            padding:1rem;
        }
      
        .btn{
            padding:0.5rem 1rem;
        }
        
        a, p{
            font-size:12px;
        }
    }
    
    
    
    /***************************
                   FOOTER
    ****************************/
    footer{
        background-color:rgb(20,39,76);
        color:var(--lite);
    }
    
    footer h3{
        color:var(--white);
        margin-bottom:1.5rem;
    }
    
    footer a{
        color:var(--lite);
        display:block;
        margin:15px 0;
    }
    
    footer a:hover{
        color:var(--white);
    }
    
    footer fieldset{
        padding:0;
    }
    
    footer fieldset input{
        background-color:#334f6c;
        border:0;
        color:var(--lite);
        padding:1rem;
    }
    
    footer fieldset .btn{
        border-radius:0;
        border:0;
    }
    
    footer fieldset .btn_2:hover{
        background-color:var(--secondary);
        border:0;
        color:var(--primary);
    }
    
    footer .flex:last-child{
        align-items:center;
    }
    
    footer .flex:last-child .flex-content:last-child{
        text-align:right;
    }
    
    footer .flex:last-child p{
        color:var(--white);
    }
    
    footer .flex:last-child a{
        width:40px;
        display:inline-block;
        background-color:#334f6c;
        color:var(--white);
        padding:0.5rem;
        margin-right:3px;
        text-align:center;
    }
    
    footer .flex:last-child a:hover{
        background-color:var(--secondary);
        color:var(--gray);
    }
    
    @media (max-width:1100px){
        footer .flex:first-child{
            flex-wrap:wrap;
        }
        
        footer .flex:first-child .flex-content{
            flex: 1 1 40%;
        }
    }
    
    @media (max-width:920px){
        footer .flex:last-child .flex-content:last-child{
            text-align:left;
        }
    }
    
    @media (max-width:320px){
        footer .flex:first-child .flex-content{
            flex:1 1 100%;
        }
    }
    footer{
        padding-top: 200px;
    }#crad_1{
        padding-top: 250px;
        margin-left: 50px;
        display: flex;
        justify-content: space-evenly;
    }.card_2{
        display: flex;
        justify-content: space-evenly;
        
        cursor: pointer;
    }.drop-downs{
        justify-content: space-evenly;
        margin-left: 250px;
    } #top{
        display: flex;
        /* justify-content: space-around; */
        margin-right: 140px;
         gap: 20px; 
    }.drop-downs{
        display: flex;
        justify-content: space-around;
        /* margin-right: 140px; */
        gap: 0px;
    }#btn{
        width: 10rem;
        height: 40px;
        background: #022b50;
        cursor: pointer;
        color: #fff;
        font-size: 14px;
        border: 1px solid #022b50;
        white-space: nowrap;
    }#border{
        /* padding-top: 0;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        background: 0;
        border: 1px;
        width: 60%;
        height: 250px; */
        border: 1px solid red;
        width: 60%;
        height: 250px;
        margin: auto;
        margin-top: 205px;
    }.card_2 img{
        border-radius: 50%;
        height: 45%;
        width: 70%;
       /* align-items: center; */
       /* text-align: center; */
    }.card_2 img{
        /* align-items: center; */
        /* margin-left: 20px; */
        margin: auto;
    } .container_top_lawer {
        /* padding-bottom: 5px; */
        padding-top: 125px;
        font-weight: 300;
        margin-left: 505px;
    line-height: 36px;
    color: #000;
     display: block; 
     font-weight: bold;
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    background: #fff;
    }#btn{
        background-color: #4c50e0;;
        height: 50px;
        font-weight: bold;
    }.middlecointainer>div{
        padding: 10px;

    }.middlecointainer{
        padding: 20px;
    }
      