/* Your existing styles */

#loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
}

#loader {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #006064;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add the styles for the loader and background here */


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

.fd {
    background-color: #262a3b !important;
    height: 60px;
    text-align: center;
}

.fd img {
    width: 8%;
    margin-top: 2%;
}

#container {
    max-width: 400px;
    /* Limit the width for larger screens */
    margin: 10px auto;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 90%;
    /* Adjust width as needed */
}

#input1,
#input2 {
    width: 100%;
    height: 20px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
    outline: none;
}

.cen {
    text-align: center;
}

#button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#b1 {
    width: 100%;
    max-width: 200px;
    /* Limit the width for larger screens */
    font-weight: bold;
    font-size: 14px;
    height: 40px;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid white;
    color: white;
    background-color: #FF0800;
    cursor: pointer;
}

.in {
    margin-bottom: 5px;
    padding: 0px;
    font-size: 15px;
}

#ifd {
    width: 100%;
}

#signup {
    display: block;
    margin-top: 0px;
    padding-bottom: 20px;
}

#forgot {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
}

#p {
    display: block;
    margin: 3px;
}


#welcome {
    padding-top: 30px;
}

.google-sign-in {
    display: inline-block;
    background-color: #4285f4;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

a {
    color: #0039a6;
}

/* Tablet and desktop styles */
@media screen and (min-width: 768px) {
    .fd img {
        width: 5%;
    }

    #container {
        width: 50%;
        max-width: 400px;
        /* Increase the max-width for larger screens */
        padding: 3%;
    }

    #b1 {
        max-width: 250px;
    }


    /* Adjust the top margin for larger screens to center the container vertically */

}