/* Reset styles */

#loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
}

#loader {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #006064;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
a {
    color: #0039a6;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

/* Container styles */
.header {

    margin-top: 5%;
}

/* Container styles */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    max-width: 400px;
    width: 90%;
    /* Adjust width as needed */
}


/* Header styles */
.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h2 {
    color: #FF0800;
}

/* Google Sign-In styles */
.google-section {
    text-align: center;
    margin-bottom: 20px;
}

.google-sign-in {
    display: inline-block;
    background-color: #4285f4;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.google-sign-in .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(//static.hsappstatic.net/LoginUI/static-1.7574/img/google-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
}

/* Form styles */
form {
    text-align: left;
}

form label {
    font-weight: bold;
    color: #262a3b;
    display: block;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"]{
    width: 100%;
    height: 20px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
    outline: none;
}

/* Sign Up button styles */
#last {
    width: 100%;
    background-color: #FF0800;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 10px 0;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}


#last h3 {
    margin: 0;
}

/* Error message styles */
.swal2-popup {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    color: #262a3b;
}

.swal2-title {
    color: #e53935;
}

.swal2-confirm {
    color: #ffffff;
    background-color: #e53935;
    border: none;
    border-radius: 8px;
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.swal2-confirm:hover {
    background-color: #c62828;
}

#doctorregister{
    display: none;
}