.google-sign-in {
    margin-top: 15px;
    background: #5886d4;
    border-radius: 0.1875rem;
    border: none;
    clear: both;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    text-align: center;
    padding: 0;
    position: relative;
    white-space: nowrap;
    width: 77%;
    font-weight: 500;
}

.google-sign-in .icon {
    -webkit-border-top-left-radius: 0.09375rem;
    border-top-left-radius: 0.09375rem;
    -webkit-border-bottom-left-radius: 0.09375rem;
    border-bottom-left-radius: 0.09375rem;
    background-color: #fff;
    background-image: url(//static.hsappstatic.net/LoginUI/static-1.7574/img/google-logo.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 24px;
    height: 38px;
    left: 1px;
    position: absolute;
    top: 1px;
    vertical-align: middle;
    width: 38px;
}

.google-sign-in .buttonText {
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    margin-top: 9px;
    vertical-align: middle;
}
.fd {
    background-color: #262a3b;
    height: 80px;
    text-align: center;
}

body {
    margin: 0px;
    padding: 0px;
}

.fd img {
    width: 9%;
    margin-top: 1%;
}

h2 {
    text-align: center;
}

label {
    width: 200px;
    display: inline-block
}

.f {
    width: 70%;
    padding: 40px 0px 40px 40px;

    margin-top: 30px;
    border-radius: 5px;
}

input,
label {
    margin: 0px;
    padding: 0px;
}

.f input {
    margin: 4px 0px;
    height: 40px;
    width: 80%;
    padding-left: 15px;
    border-radius: 5px;
    border: 0.5pt solid black;
}

.d2 {
    width: 50%;
    margin: auto;
    padding: 10px 0px 40px 40px;

    margin-top: 30px;
    border-radius: 5px;
}



.in {
    margin: 4px 0px;
    height: 40px;
    width: 56%;
    padding-left: 15px;
    border-radius: 5px;
    border: 0.5pt solid black;
}

.dot {
    height: 30px;
    width: 7%;
    text-align: center;

}

.sub-title {
    margin: 1px;
    display: block;
    font-weight: bold;
    text-align: left;

}

#birth,
#month,
#year {

    height: 40px;
}

#birth {
    width: 80px;
}

#month {
    width: 150px;

}

#year {
    width: 100px;
    margin-top: 20px;
}

#main {
    display: flex;
    gap: 80px;
    align-items: center;

}



.ibox {
    height: 1px;
}

.ibox span {
    font-weight: bold;
}

#slide {
    display: flex;
    padding-left: 75px;
    gap: 10px;
    margin-bottom: 20px;
}

#b {
    margin-top: 20px;
}

.sli {
    margin-left: 12px;
}

.bo,
.slide {
    margin-bottom: 30px;
}

.s {
    margin-top: 10px;
}

.f,
.d2 {
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
    box-shadow: rgba(60, 64, 67, 2) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#d3 {
    width: 53%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin-top: 30px;
    padding-bottom: 30px;

}

.d3 h2 {
    text-align: center;
}

#id3 {
    width: 80%;
    margin: auto;
}

.one {
    display: flex;



}

.one>div:nth-child(1) {
    margin-top: 18px;
    margin-right: 20px;
    margin-left: 20px;
}

#last {
    width: 250px;
    height: 45px;
    text-align: center;
    border-radius: 15px;
    border: 1px white solid;
    background-color:rgb(255, 0, 0);
    font-family: sans-serif;
    color:white;
}

#lastt {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#header h5 {
    font-size: large;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#header h5:nth-child(2) {
    color: #F4511E;
}

#resize {
    margin-bottom: 45px;
    margin-right: 100px;
    font-family: sans-serif;

}

#account {
    font-family: sans-serif;

}

p {
    font-family: sans-serif;

}

.f label {
    color: #262a3b;
    font-weight: 600;
}

.sub-title {
    color: #212121;

}

.finish {
    font-weight: 600;
    color: #212121c5;
}

.or {
    color: #F4511E;
}

#terms {
    padding: 30px;
}

.day {
    margin-left: -6px;
}

#b p {
    color: #262a3b;
    font-weight: 600;
}

.bo label {
    color: #262a3b;
    font-weight: 600;
}
body{
    background-image: url(https://cdn1.cronometer.com/brand2/assets/DotPatternLarge.svg);
    background-position: right bottom;
    background-repeat: no-repeat;

}
#row2,#row3{
    display: flex;
}
#row21,#row31{
    display: flex;
    padding-left: 170px;
    gap: 10px;
    margin-bottom: 20px;
}

#ft,
#inn,
#cm,
#height,
#weight,
#weightnumber,
#typeofweight {

    height: 40px;
}

#weightnumber{
    width: 90px;
}

#ft {
    width: 80px;
}

#inn{
    width: 150px;

}
#typeofweight{
    width: 140px;
}

#cm {
    width: 100px;
    margin-top: 20px;
}
#height{
    margin-top: 20px;
}
#centimeter,#cm{
    margin: 0px;
    padding: 0px;
}
#height p,#weight p{
    font-family: sans-serif;
    font-weight: bold;
}#h3{
    cursor: pointer;
}